---
import "../styles/global.css";
import Card from "../components/card.astro";
import Tecnologias from "../components/tecnologias.astro";
import ProjectCard from "../components/proyect-card.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cristian Mercado</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">


  </head>
  <body class="bg-slate-900 text-white min-h-screen flex flex-col">

    <main class="flex-1 w-full "> 

    <section class="relative text-gray-600 body-font">
      <video autoplay muted loop playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-30 sm:opacity-40">
        <source src="/bg.mp4" type="video/mp4">
        Tu navegador no soporta video en HTML5.
      </video>

      <div class="absolute inset-0 bg-gradient-to-b from-black/ to-slate-900"></div>

      <div class="container relative mx-auto flex flex-col-reverse md:flex-row px-20 py-16 md:py-20 items-center gap-1">

        <div class="lg:flex-grow md:w-1/2 lg:pr-8 md:pr-6 flex flex-col md:items-start md:text-left items-center text-center">
          <h1 style="font-family: 'Alumni Sans Pinstripe', cursive;"
              class="title-font sm:text-4xl text-3xl mb-2 font-bold text-white drop-shadow-lg">
            HELLO WORLD!!
          </h1>
          <p class="mb-4 leading-relaxed text-gray-300 text-base sm:text-lg">
            I'm Cristian Mercado, full-stack web developer, 3D artist and illustrator.
          </p>
        </div>

        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 flex justify-center -mt-4 md:mt-0">
          <img class="w-60 sm:w-72 md:w-80 h-60 sm:h-72 md:h-80 object-cover object-center rounded-xl shadow-2xl" 
              alt="photo" src="/photo.png" />
        </div>

      </div>
    </section>


      <section id="skills" class="max-w-6xl mx-auto px-4 py-16">
        <Tecnologias />
      </section>

      <h1 class="text-white text-4xl font-bold  text-center">Projects I have worked on:</h1>
       
      <section id="projects" class="max-w-4xl mx-auto px-5">
        <div class="relative flex items-center justify-center">

          <div id="project-container" class="relative max-w-3xl w-full h-[28rem] flex items-center justify-center overflow-hidden px-16">
            <div class="project-slide absolute w-[28rem] sm:w-[32rem] transition-transform duration-500">
              <ProjectCard
                title="SIM CLE"
                image="/projects/cle.png"
                description="I'm currently involved in the development of a management system for students, teachers, and staff for the CLE at the Instituto Tecnológico de Morelia."
                url="https://sim-cle.morelia.tecnm.mx/login"
              />
            </div>
            <div class="project-slide absolute w-[28rem] sm:w-[32rem] transition-transform duration-500 hidden">
              <ProjectCard
                title="Modulo vinculación para SIM-TECNM"
                image="/projects/vin.png"
                description="Project that connects students with companies for internships, developed with Laravel and Tailwind CSS."
                url="https://vinculacion-proyecto-avbzd4.laravel.cloud"
              />
            </div>
          </div>

          <button id="prev" class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-slate-700 text-white px-3 py-2 rounded hover:bg-slate-600 z-10">&lt;</button>
          <button id="next" class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-slate-700 text-white px-3 py-2 rounded hover:bg-slate-600 z-10">&gt;</button>
        </div>
      </section>

      <section id="certificates" class="max-w-4xl mx-auto px-5 py-10">
        <h2 class="text-3xl font-bold text-center mb-8">Certificates</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">

          <div class="bg-white dark:bg-gray-800 rounded-xl shadow-md overflow-hidden">
            <img src="/certificates/coursera.jpg" alt="Certificado Coursera" class="w-full h-64 object-cover">
            <div class="p-4">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Google Project Management by Coursera</h3>
              <a href="https://coursera.org/share/5067eda2d0eec79d6cbeb8e0e5a65ce5" 
                target="_blank" 
                rel="noopener noreferrer"
                class="text-sm text-blue-600 dark:text-blue-400 hover:underline">
                View Certificate
              </a>

            </div>
          </div>
          
          <div class="bg-white dark:bg-gray-800 rounded-xl shadow-md overflow-hidden">
            <img src="/certificates/js.jpg" alt="Certificado JavaScript" class="w-full h-64 object-cover">
            <div class="p-4">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mastering JavaScript by IEEE</h3>
              <a href="https://drive.google.com/file/d/17K30iYTNw3vXaBFJzV-kZ44uUfvcwSVx/view?usp=sharing" 
                target="_blank" 
                rel="noopener noreferrer"
                class="text-sm text-blue-600 dark:text-blue-400 hover:underline">
                View Certificate
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>


    

  <footer class="bg-slate-800 mt-16 py-5">
      <div class="mx-auto w-full max-w-screen-xl">
        <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
          <div>
              <h2 class="mb-6 text-big font-semibold text-gray-900 uppercase dark:text-white">Contact</h2>
              <ul class="text-gray-500 dark:text-gray-400 font-medium">
                  <li class="mb-4">
                    <div class="flex items-center gap-2">
                      <img src="/icons/flat/link.png" alt="link" class="w-5 h-5">
                      <a href="https://www.linkedin.com/in/chrissmm" 
                        class="text-white hover:underline">
                        Linkedin
                      </a>
                    </div>
                  </li>
                  <li class="mb-4">
                    <div class="flex items-center gap-2">
                      <img src="/icons/flat/x.jpg" alt="link" class="w-5 h-5">
                      <a href="https://x.com/Firedrops720" 
                        class="text-white hover:underline">
                       Twitter (X)
                      </a>
                    </div>
                  </li>
                  <li class="mb-4">
                    <div class="flex items-center gap-2">
                      <img src="/icons/flat/f.png" alt="link" class="w-5 h-5">
                      <a href="https://www.facebook.com/share/1Nc4rbEJUr/" 
                        class="text-white hover:underline">
                       Facebook
                      </a>
                    </div>
                  </li>
                    <li class="mb-4">
                      <button 
                        class="flex items-center gap-2 text-white hover:underline focus:outline-none"
                        onclick="document.getElementById('overlay').classList.remove('hidden')">
                        <img src="/icons/flat/gato.png" alt="gato" class="w-5 h-5">
                        Meet my cat!
                      </button>
                    </li>

                    <div id="overlay" class="hidden bg-black/80 fixed inset-0 flex items-center justify-center z-50">
                      <div class="relative w-1/2 max-w-2xl">

                        <button class="absolute top-2 right-2 text-black text-2xl font-bold "
                                onclick="document.getElementById('overlay').classList.add('hidden')">
                          &times;
                        </button>
                        <img src="/gato.jpg" alt="Mi gato" class="w-full h-auto rounded-lg shadow-lg">
                      </div>
                    </div>
              </ul>
          </div>
      </div>
  </footer>


    <script>
      const slides = document.querySelectorAll("#project-container .project-slide");
      const prevBtn = document.getElementById("prev");
      const nextBtn = document.getElementById("next");
      let currentIndex = 0;

      function showSlide(index: number) {
        slides.forEach((slide, i) => {
          if(i === index){
            (slide as HTMLElement).classList.remove("hidden");
            (slide as HTMLElement).style.transform = "translateX(0)";
          } else {
            (slide as HTMLElement).classList.add("hidden");
            (slide as HTMLElement).style.transform = "translateX(100%)";
          }
        });
      }

      if (prevBtn) {
        prevBtn.addEventListener("click", () => {
          currentIndex = (currentIndex - 1 + slides.length) % slides.length;
          showSlide(currentIndex);
        });
      }

      if (nextBtn) {
        nextBtn.addEventListener("click", () => {
          currentIndex = (currentIndex + 1) % slides.length;
          showSlide(currentIndex);
        });
      }

      showSlide(currentIndex);
    </script>

  </body>
</html>
